@property --myAngle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;

}

html, body {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #2A2A33;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    gap: 10vh;
}

.billboard {
    position: relative;
    border-radius: 20px;
    height: 30vh;
    text-align: center;
    background-color: black;
}

@keyframes rotateColor {
    from {
        --myAngle: 0deg;
    }
    to {
        --myAngle: 360deg;
    }
}

.billboard::after, .billboard::before{
    content: "";
    position: absolute;
    border-radius: 20px;
    padding: 5px;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: rotateColor 10s linear infinite;
}

.color-spectrum::after, .color-spectrum::before{
    background-image: conic-gradient(from var(--myAngle), red, orange, yellow, green, blue, indigo, violet, red);
}

.color-racers::after, .color-racers::before{
    background-image: conic-gradient(from var(--myAngle), transparent 0, transparent 160deg, purple 170deg, purple 180deg, transparent 180deg, transparent 340deg, purple 350deg, purple 360deg);
}

.color-ocean::after, .color-ocean::before{
    background-image: conic-gradient(from var(--myAngle), #005B96, #19A3FC, #00DFED, #38F990, #00CB5D, #005B96);
}

.billboard::before{
    filter: blur(1.5rem);
    opacity: 0.9;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 15vh;
    background-color: gray;
    z-index: -2;
}

.button {
    width: 25%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.one::after{
    background-image: conic-gradient(from var(--myAngle), red, orange, yellow, green, blue, indigo, violet, red);
}

.two::after{
    background-image: conic-gradient(from var(--myAngle), white 0, white 160deg, purple 170deg, purple 180deg, white 180deg, white 340deg, purple 350deg, purple 360deg);
}

.three::after{
    background-image: conic-gradient(from var(--myAngle), #005B96, #19A3FC, #00DFED, #38F990, #00CB5D, #005B96);
}

