@property --myAngle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

html, body {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #2A2A33;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    gap: 10vh;
}

.billboard {
    position: relative;
    border-radius: 20px;
    height: 30vh;
    text-align: center;
    background-color: black;
    color: transparent;
}

@keyframes rotateColor {
    from {
        --myAngle: 0deg;
    }
    to {
        --myAngle: 360deg;
    }
}

.billboard::after, .billboard::before{
    content: "";
    position: absolute;
    background-image: conic-gradient(from var(--myAngle), red, orange, yellow, green, blue, indigo, violet, red);
    border-radius: 20px;
    padding: 5px;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: rotateColor 10s linear infinite;
}

.billboard::before{
    filter: blur(1.5rem);
    opacity: 0.9;
}

.panel {
    border: 1px solid white;
}